html {
    background: #6cbbea;
    background: linear-gradient(90deg, #6cbbea 0%, #2fbad6 100%);

    color: #292929;
    font-family: sans-serif;
    font-size: 20px;
}

.header {
    height: 3em;
    padding: 1em;
    text-align: center;
}

.header h1,
.header h2 {
    margin: 0;
}

.header h2 {
    padding-top: 0.25em;
    font-size: 16px;
}

.page {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.content {
    width: 100%;
}

button {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: #333 solid 1px;
    box-shadow: #333 2px 2px 2px;
}

.page-section {
    width: 100%;
    min-height: 10px;
    padding: 20px;

    display: flex;
    justify-content: center;
}

.file-upload-screen {
    display: none;
}

.file-upload-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 0.5em;
}

.file-upload-screen input {
    text-align: center;
}

.loading-screen {
    display: initial;
    position: absolute;

    top: 5em;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading-screen .loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.spinner-container {
    text-align: center;
}

img.spinner {
    height: 75vh;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.work-screen {
    display: none;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-wrap {
    position: relative;
}

.video-wrap .selection {
    position: absolute;
    top: 0;
    left: 0;

    width: 200px;
    height: 200px;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    background-color: #ffffff88;
    border: solid 2px black;

    touch-action: none;
    box-sizing: border-box;
}

.control-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.screenshot-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3em;
}

.media-metadata-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    gap: 2em;
}

.media-area {
    width: 45%;
    text-align: center;
}

.media-area-background {
    border-radius: 10px;
    outline: #333 solid 2px;
    box-shadow: #333 2px 2px 2px;
    background-color: #333;
}

.image-area {
}

.media-area img,
.media-area video {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
}

.media-area .video-controls {
    height: 160px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.video-controls-row {
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;

    padding-left: 1%;
    padding-right: 1%;
}

.video-controls-row input,
.video-controls-row button {
    height: 90%;
    width: 20%;
    border-radius: 10px;
    font-size: 1.15vw;
}

.video-controls-row input,
.video-controls-row button {
    padding: 0;
    text-align: center;
}

.video-controls-row input {
    border: 0;
}

.video-controls-row button {
}

.video-controls-progress {
    position: relative;
}

.video-controls-progress input {
    border-radius: 10px;
    height: 90%;
    width: 100%;
    z-index: 10;
}

.video-controls-progress .clip-highlight-container {
    position: absolute;
    width: 98%;
    height: 100%;
    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-controls-progress .clip-highlight {
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: 5px;
    background-color: #6cbbea;
}

.video-controls-clip input,
.video-controls-clip button {
}

.video-controls-seek button {
}

.metadata-area {
    width: 45%;
}

.metadata-area > div {
    padding-bottom: 1.25em
}

.metadata-area label {
    display: block;
    margin-bottom: 0.1em;
}

.metadata-area input {
    border-radius: 10px;
    padding: 5px;
}
